<div class="row row-no-gutters">
  <div class="col-xs">
    <form (ngSubmit)="onSaveItem(f)" #f="ngForm">
      <div class="row row-no-gutters">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            ngModel
            name="name"
            required
          />
        </div>
        <div class="col-sm-2 form-group" style="margin-left: 4px;">
          <label for="amount">Amount</label>
          <input
            type="number"
            class="form-control"
            id="amount"
            ngModel
            name="amount"
            required
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
      </div>
      <div class="row row-no-gutters">
        <div class="col-xs">
          <div class="btn-toolbar">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="f.invalid"
            >
              {{ editMode ? "Save" : "Add" }}
            </button>
            <button
              class="btn btn-danger"
              type="button"
              *ngIf="editMode"
              (click)="onDelete()"
            >
              Delete
            </button>
            <button class="btn btn-primary" type="button" (click)="onReset()">
              Clear
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
